body{
    background-color: #EAF0F1;
}
.nav-link{
    color: #242B2E;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-top: 26px;
    /* background-color: teal; */
    
}
.active{
 color: #cbaa61;
 margin-top: 26px;
 text-decoration: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover{
    color: #F4CE6A;
}
.active:hover{
    color: #242B2E;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.nav-icons{
    color: #242B2E;
    text-decoration: none;
    font-size: 23px;
}

.error{
   background-color: #e5e4e2;
   color: #212121;
   padding: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
   font-size: 1.32rem;
}